.dashBox{
-fx-border-color:green;
-fx-border-width:1.5px;
-fx-min-height:150;
-fx-pref-width:500;
-fx-pref-height:150;
-fx-font-size: 36;
-fx-background-color:white;
-fx-collapsible:false;
-fx-animated:false;

}
.split-pane-divider{
-fx-border-color:gold;
-fx-border-width:1.5;
-fx-border-style: solid;
   -fx-padding: 0 0 0 0;
}
TitledPane{

-fx-background-color:white;
-fx-body-color:white;
-fx-content-color:white;
}